.white {
     height: 8vh;
     width: 100%;
     
}


.linkblack {
     color: #222222;
     font-weight: 600;
     font-size: 1.2em;
}


.linkblack:hover {
     color: #facd3d;
}

@media only screen and (max-width:992px) {
     .linkblack {
          font-size: 1em;
     }
}

@media only screen and (min-device-width : 412px) and (max-device-width : 915px) and (orientation : landscape) {

     .white {
          display: none;
     }
}