.container {
     height: 100vh;
     min-height: 700px;
     background: rgb(86, 35, 164);
     background: linear-gradient(0deg, rgba(86, 35, 164, 1) 0%, rgba(86, 38, 196, 1) 100%);
}

.container2 {
     height: 100vh;
     min-height: 700px;
     background-color: #facd3d;
}

.container3 {
     height: 100vh;
     min-height: 700px;
     background: rgb(250, 205, 61);
     background: linear-gradient(0deg, rgba(250, 205, 61, 1) 0%, rgba(250, 202, 26, 1) 100%);
}

.hero1_left {
     position: relative;
     margin-top: 10%;
     left: -5%;
}

.hero1_right {
     position: relative;
     margin-top: 10%;
     left: -4%;
}

.hero1_right h1 {
     font-size: 4em;
     overflow: visible;
}

.hero1_right p,
ul {
     font-size: 1.2em;
}

.sh {
     width: 90%;
     position: relative;
}

.dp {
     width: 80%;
     position: relative;
}

.nft {
     width: 24%;
     position: relative;
     left: 20%;
}

.bulat {
     background-color: #facd3d;
     width: 70%;
     aspect-ratio: 1/1;
     border-radius: 209px 10px 399px 99px;
     position: absolute;
     top: -4%;
     left: 15%;
     z-index: 0;
}

.btn {
     display: block;
     background-color: transparent;
     border: 3px solid #5626c4;
     border-radius: 20px;
     height: fit-content;
     width: fit-content;
     color: #5626c4;
     padding: 10px 70px;
     margin-left: 20%;
     margin-top: 2%;
     font-weight: 700;
     text-align: center;
}

.btnM {
     display: none;
     background-color: #facd3d;
     border: 3px solid coral;
     border-radius: 20px;
     height: fit-content;
     width: fit-content;
     color: #5626c4;
     padding: 10px 70px;
     margin-left: 20%;
     margin-top: 2%;
     font-weight: 700;
     text-align: center;
}

.btn:hover {
     background-color: transparent;
     border: 3px solid #5626c4;
     color: white;
}

.btnM:hover {
     background-color: #5626c4;
     border: 3px solid #5626c4;
     color: white;
}

@media only screen and (max-width: 992px) {
     .hero1_left {
          margin-top: 15%;
          left: 0%;
     }

     .hero1_right {
          margin: 7% 0%;
          left: 0%;
          padding: 0 10%;
     }

     .hero1_right br {
          display: none;
     }

     .hero1_right h1 {
          font-size: 40px;
          text-align: center;
     }

     .hero1_right p,
     ul {
          font-size: 20px;
          text-align: justify;
     }

     .btn {
          background-color: #5626c4;
          color: white;
     }

     .btn:hover {
          background-color: coral;
          border-color: coral;
     }

     .dp {
          width: 96%;
          left: 3%;
     }
}

@media only screen and (max-width: 500px) {
     .hero1_left {
          margin-top: 29%;
     }

     .hero1_right h1 {
          margin-top: 13%;
          font-size: 32px;
     }

     .hero1_right p,
     ul {
          font-size: 14px;
     }

     .btn {
          display: none;
     }

     .btnM {
          display: block;
     }
}