.timeline {
     width: 80%;
     height: auto;
     max-width: 800px;
     margin: 10% auto 0 auto;
     position: relative;
}

.timeline::before {
     content: '';
     position: absolute;
     height: 60vh;
     width: 3px;
     left: 50%;
     transform: translateX(-50%);
     background-color: #5626c4;
}

.timeline ul {
     list-style: none;
}

.timeline ul li {
     position: relative;
     width: 50%;
     padding: 20px;
     background-color: black;
     color: white;
     margin-bottom: 50px;
}

.timeline ul li::after {
     content: '';
     position: absolute;
     height: 20px;
     width: 20px;
     background-color: #5626c4;
     border-radius: 50%;
     top: 0;
}

.timeline ul li:last-child {
     margin-bottom: 0;
}

.timeline ul li:nth-child(odd) {
     float: left;
     clear: right;
     transform: translateX(-50px);
     border-radius: 30px 0px 30px 30px;
}

.timeline ul li:nth-child(even) {
     float: left;
     clear: right;
     transform: translateX(-50px);
     border-radius: 0px 30px 30px 30px;
}

.timeline ul li:nth-child(odd)::after {
     right: -34px;
     transform: translate(50%, -50%);
}

.timeline ul li:nth-child(even) {
     float: right;
     clear: left;
     transform: translateX(30px);
}

.timeline ul li:nth-child(even)::after {
     left: -46px;
     transform: translate(-50%, 50%);
}

.timeline ul li:hover:after{
     background-color: coral;
}

.timelineContent h1 {
     font-size: 18px;
     font-weight: 700;
     line-height: 30px;
     margin-bottom: 10px;
     color: white;
}

.timelineContent p {
     color: white;
     font-size: 16px;
     line-height: 30px;
     font-weight: 300;
}

.sectionOne {
     background-color: #5626c4;
}

.container {
     background-color: #5626c4;
     min-height: 100vh;
}

.left1 {
     display: flex;
     flex-direction: column;
     justify-content: center;
     height: 80vh;
}

.name {
     border-bottom: #facd3d 2px solid;
     color: #ffffff;
     font-weight: 500;
     padding-bottom: 5%;
}

.typer {
     font-size: 5em;
     color: #facd3d;
     font-weight: 700;
}

.right1 {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.profile {
     width: 65%;
     box-shadow: 2px 1px 50px 0px rgba(250, 205, 61, 0.49);
     -webkit-box-shadow: 2px 1px 50px 0px rgba(250, 205, 61, 0.49);
     -moz-box-shadow: 2px 1px 50px 0px rgba(250, 205, 61, 0.49);
     margin-top: 20%;
}

.profile:hover {
     width: 65.2%;
     box-shadow: 2px 1px 60px 12px rgba(250, 205, 61, 0.98);
     -webkit-box-shadow: 2px 1px 60px 12px rgba(250, 205, 61, 0.98);
     -moz-box-shadow: 2px 1px 60px 12px rgba(250, 205, 61, 0.98);
     transition: all 0.2s ease-out;
}

.location {
     display: block;
     margin-top: 5%;
     color: #facd3d;
     font-weight: 400;
}

.btnMore {
     font-size: 1.3rem;
     font-style: italic;
     color: #facd3d;
     background-color: #5626c4;
     border: none;
}

.btnMore:hover {
     color: #eee;
}

.sectionTwo {
     background-color: #facd3d;
     min-height: 100vh;
}

.education {
     padding-top: 5%;
     height: 100%;
}

.sectionContact {
     min-height: 30vh;
     background-color: #facd3d;
     padding: 5%;
}

.contact {
     display: flex;
     justify-content: flex-end;
     align-items: flex-end;
     gap: 5%;
}

.contact h1 {
     margin-bottom: 7%;
}


@media only screen and (max-width: 991px) {
     .typer {
          font-size: 3em;
     }

     .name {
          font-size: 1.5em;
     }

     .profile {
          width: 65.2%;
     }

     .profile:hover {
          width: 50.5%;
     }

     .left1 {
          align-items: center;
          height: 22vh;
          order: 2;
          margin-top: -15%;
     }

     .right1 {
          order: 1;
          height: 70vh;
     }

     .btnWrapper {
          order: 3;
     }

     .location {
          margin-top: 10px;
     }


}

/* @media only screen and (max-width: 992px) {


} */