@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

html {
     font-family: "Montserrat";
}

.heading1 {
     writing-mode: vertical-rl;
     text-orientation: mixed;
     font-size: 7em;
     display: flex;
     justify-content: center;
     height: 100vh;
     font-weight: 700;
     text-decoration: underline double;
}

.sectionOne {
     background-color: #5626c4;
}

.container {
     background-color: #5626c4;
     min-height: 100vh;
}

.left1 {
     display: flex;
     flex-direction: column;
     justify-content: center;
     height: 80vh;
}

.name {
     border-bottom: #facd3d 2px solid;
     color: #ffffff;
     font-weight: 500;
     padding-bottom: 5%;
}

.typer {
     font-size: 5em;
     color: #facd3d;
     font-weight: 700;
}

.right1 {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.profile {
     width: 65%;
     box-shadow: 2px 1px 50px 0px rgba(250, 205, 61, 0.49);
     -webkit-box-shadow: 2px 1px 50px 0px rgba(250, 205, 61, 0.49);
     -moz-box-shadow: 2px 1px 50px 0px rgba(250, 205, 61, 0.49);
     margin-top: 20%;
}

.profile:hover {
     width: 65.2%;
     box-shadow: 2px 1px 60px 12px rgba(250, 205, 61, 0.98);
     -webkit-box-shadow: 2px 1px 60px 12px rgba(250, 205, 61, 0.98);
     -moz-box-shadow: 2px 1px 60px 12px rgba(250, 205, 61, 0.98);
     transition: all 0.2s ease-out;
}

.location {
     display: block;
     margin-top: 5%;
     color: #facd3d;
     font-weight: 400;
}

.btnMore {
     font-size: 1.3rem;
     font-style: italic;
     color: #facd3d;
     background-color: #5626c4;
     border: none;
}

.btnMore:hover {
     color: #eee;
}

.sectionTwo {
     background-color: #facd3d;
     min-height: 100vh;
}

.education {
     padding-top: 5%;
     height: 100%;
}

.sectionContact {
     min-height: 30vh;
     background-color: #facd3d;
     padding: 5%;
}

.contact {
     display: flex;
     justify-content: flex-end;
     align-items: flex-end;
     gap: 5%;
}

.contact h1 {
     margin-bottom: 7%;
}

/* TIMELINE */

.sectionTwo {
     min-height: 100vh;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 100px 0;
     background-color: #facd3d;
}

.timeline {
     width: 90%;
     height: 100%;
     max-width: 950px;
     margin: 0 auto;
     position: relative;
}

.timeline ul li:hover {
     background-color: #5626c4;
}

.timeline ul {
     list-style: none;
}

.timeline ul li {
     padding: 20px;
     background-color: #1e1f22;
     color: white;
     border-radius: 10px;
     margin-bottom: 20px;
}

.timeline ul li:last-child {
     margin-bottom: 0;
}

.timeline-content h1 {
     font-weight: 500;
     font-size: 25px;
     line-height: 30px;
     margin-bottom: 10px;
}

.timeline-content p {
     font-size: 16px;
     line-height: 30px;
     font-weight: 300;
}

.timeline-content .date {
     font-size: 12px;
     font-weight: 300;
     margin-bottom: 10px;
     letter-spacing: 2px;
}

#landscape {
     display: none;
}

@media only screen and (max-width: 991px) {
     .typer {
          font-size: 3em;
     }

     .name {
          font-size: 1.5em;
     }

     .profile {
          width: 65.2%;
     }

     .profile:hover {
          width: 50.5%;
     }

     .left1 {
          align-items: center;
          height: 22vh;
          order: 2;
          margin-top: -15%;
     }

     .right1 {
          order: 1;
          height: 70vh;
     }

     .btnWrapper {
          order: 3;
     }

     .location {
          margin-top: 10px;
     }

     .heading1 {
          display: none;
     }
}

@media only screen and (min-width: 768px) {
     .timeline:before {
          content: "";
          position: absolute;
          top: 0;
          left: 52%;
          transform: translateX(-50%);
          width: 3px;
          height: 100%;
          background-color: #5626c4;
     }

     .timeline ul li {
          width: 50%;
          position: relative;
          margin-bottom: 50px;
     }

     .timeline ul li:nth-child(odd) {
          float: left;
          clear: right;
          transform: translateX(-30px);
          border-radius: 20px 0px 20px 20px;
     }

     .timeline ul li:nth-child(even) {
          float: right;
          clear: left;
          transform: translateX(30px);
          border-radius: 0px 20px 20px 20px;
     }

     .timeline ul li::before {
          content: "";
          position: absolute;
          height: 20px;
          width: 20px;
          border-radius: 50%;
          background-color: #5626c4;
          top: 0px;
     }

     .timeline ul li:nth-child(odd)::before {
          transform: translate(50%, -50%);
          right: -30px;
     }

     .timeline ul li:nth-child(even)::before {
          transform: translate(-50%, -50%);
          left: -30px;
     }

     .timeline-content .date {
          position: absolute;
          top: -30px;
     }

     .timeline ul li:hover::before {
          background-color: coral;
     }
}

@media only screen and (min-device-width : 412px) and (max-device-width : 915px) and (orientation : landscape) {

     .sectionOne,
     .sectionTwo,
     .sectionContact {
          display: none;
     }

     #landscape {
          background-color: white;
          width: 100vw;
          min-height: 100vh;
          width: 100vw;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
     }

     #landscape h1 {
          color: black;
          font-size: 40px;
     }

     #landscape img {
          display: block;
          width: 50px;
     }
}