.purple{
     height: 8vh;
     background-color: #5626c4;
}
.yellow{
     height: 8vh;
     background-color: #facd3d;
}
.linkwhite{
     color: #ddd;
     font-weight: 600;
     font-size: 1.2em;
}
.linkblack{
     color: #222222;
     font-weight: 600;
     font-size: 1.2em;
}
.linkwhite + .linkblack:hover{
     color:  #ffffff;
}
@media only screen and (max-width:992px)  {
     .linkblack {
          font-size: 1em;
     }
     .linkwhite {
          font-size: 1em;
     }
}